@keyframes shake {
  25% {
    transform: translateX(4px);
  }

  50% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(4px);
  }
}

.invalid {
  animation: shake 0.3s;
}

input:invalid {
  animation: shake 0.3s;
}

.float {
  width: 200px;
  height: 200px;
  background-color: red;
  float: right;
  height: 300vh;
}

.con {
  width: 200px;
  height: 200px;
  background-color: blue;
}
